
@font-face {
        font-family: Bank Gothic;
        font-weight: 400; 
        src: url('/font/BankGothicM.woff') format("woff"),
             url('/font/BankGothicM.tff') format("ttf");
}

.gradientBackground {
    background: rgb(147,142,153);
    background: linear-gradient(90deg, rgba(113,101,128,0.5) 0%, rgba(147,142,153,0) 50%);
}

.gradientBackgroundFull {
    background: rgb(147,142,153);
    background: linear-gradient(90deg, rgba(113,101,128,0.5) 0%, rgba(147,142,153,0) 100%);
}
